.columnCard{
    border-radius:2px;
    border-color:blue;
    border-style:solid;
}

.removeButton{
    background-color:yellow;
    height: 40px;
    width: 40px;
}

.moveButton{
    background-color:blue;
    height:40px;
    width:40px;
}

.cardButtons{
    display:flex;
    justify-content:space-around;
    flex-direction:row;
}