.columnCard{
    border-radius:3px;
    border-style:solid;
    border-color:#375d5d;
    margin:10px 20px 0px 20px;
    background-color: #94bbbc;
    box-shadow: 5px 2px rgba(100, 100, 100, 0.5);
}

.columnCard.draggable:hover{
    cursor: grab;
}

.cardLink{
    font-size:1.5em;
    margin-left:1.5em;
    line-height:2.5em;
    text-decoration:none;
}

.removeButton{
    height: 40px;
    width: 40px;
    background: url("/delete.svg");
    background-size: contain;
    color:red;
}

.moveButton{
    background-color:blue;
    height:40px;
    width:40px;
}

.cardButtons{
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    text-decoration:none;
    float:right;
}

.cardButtons>div{
    cursor:pointer;
}