.downloadLink::before{
    content: "";
    width: 16px; /* Adjust to fit the icon */
    height: 16px;
    background: url("/public/downloadArrow.svg") no-repeat center;
    background-size: contain;
    transform: translateY(-50%);
    position: absolute;
    left: 100px;
    margin-top:10px;
}

.listItems{
    list-style:none;
}

.removeButton{
    height: 1.5em;
    width: 1.5em;
    background: url("/delete.svg");
    background-size: contain;
    color:red;
    display:inline-block;
    float:right;
}