.main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
}

.workLinkContainer{
    grid-column-start: 3;
    grid-column-end: 4;
}


.loginContainer{
    position:fixed;
    top:0;
    right:-350px;
    padding-right:2em;
    background-color:red;
    border-radius:5px;
    border-style:solid;
    border-color:black;
    display:grid;
    grid-template-columns: 1fr 5fr;
    transition: right 0.3s ease-in-out; 
}

.avatarIcon, .cvIcon, .letterIcon{
    font-size:3em;
    cursor:pointer;
}

.cvStorage{
    position:fixed;
    top: 120px;
    right:-335px;
    background-color:rgb(255, 238, 0);
    border-radius:5px;
    border-style:solid;
    border-color:black;
    display:grid;
    grid-template-columns: 1fr 3fr;
    transition: right 0.3s ease-in-out; 
}

.snippetStorage{
    position:fixed;
    bottom:0;
    right:0;
    background-color:orange;
    border-radius:5px;
    border-style:solid;
    border-color:black;
    transition: right 0.3s ease-in-out; 
}

.active{
    right:0;
}